# References
docs/

# Enviroment + AI
.venv/
.claude
CLAUDE.md

# Data
data/raw/
data/processed/
*.gz
*.zip

# Results (Large file sizes)
results/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db
